In [2]:
import pandas as pd

In [4]:
tv_csv = '../Resources/tv_shows.csv.zip'
tv_df = pd.read_csv(tv_csv)
tv_df = tv_df[['Title', 'Year', 'IMDb', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']]
tv_df

,Title,Year,IMDb,Netflix,Hulu,Prime Video,Disney+
0,Breaking Bad,2008,9.5,1,0,0,0
1,Stranger Things,2016,8.8,1,0,0,0
2,Money Heist,2017,8.4,1,0,0,0
3,Sherlock,2010,9.1,1,0,0,0
4,Better Call Saul,2015,8.7,1,0,0,0
...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,0,0,0,1
5607,Paradise Islands,2017,NaN,0,0,0,1
5608,Wild Russia,2018,NaN,0,0,0,1
5609,Love & Vets,2017,NaN,0,0,0,1
5610,United States of Animals,2016,NaN,0,0,0,1

In [8]:
clean_tv_df = tv_df.dropna(how='any').reset_index()
clean_tv_df

,index,Title,Year,IMDb,Netflix,Hulu,Prime Video,Disney+
0,0,Breaking Bad,2008,9.5,1,0,0,0
1,1,Stranger Things,2016,8.8,1,0,0,0
2,2,Money Heist,2017,8.4,1,0,0,0
3,3,Sherlock,2010,9.1,1,0,0,0
4,4,Better Call Saul,2015,8.7,1,0,0,0
...,...,...,...,...,...,...,...,...
4445,5598,Billy Dilley's Super-Duper Subterranean Summer,2017,4.6,0,0,0,1
4446,5599,Rocky Mountain Animal Rescue,2018,7.8,0,0,0,1
4447,5600,Prairie Dog Manor,2019,8.6,0,0,0,1
4448,5601,Disney Junior Music Nursery Rhymes,2017,6.6,0,0,0,1
4449,5602,Bug Juice: My Adventures at Camp,2018,7.2,0,0,0,1

In [10]:
clean_tv_df.to_csv('clean_tv.csv', index=False, header=True)